<div class="authordetail" ng-controller="edit_delete-book">
    <div id="bookdetails">
        <h1>Book details </h1> <br/>
		<table>
        <tr><label class="col-sm-3">ISBN no:</label> <p>  {{book.isbn}} </p></tr> <br/>
        <tr><label class="col-sm-3">Title:</label> <p> {{book.title}} </p></tr> <br/>
        <tr><label class="col-sm-3">Author:</label> <p> {{book.author}} </p> </tr> <br/>
        <tr><label class="col-sm-3">Price:</label> <p> {{book.price}} </p> </tr> <br/>
        <tr><label class="col-sm-3">Available On:</label> <p> {{book.availableOn}} </p> </tr>
		</table>
    </div>
    <div id="bookeditingform">
       
        <h2> Edit Book Details:</h2>
        <br/> <br/>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">ISBN :</label>
                <div class="col-sm-6">
                    <input type="text" ng-disabled="true" ng-model="book.isbn" value="{{book.isbn}}" class="form-control" id="isbn" placeholder="Book ISBN no">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Title :</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="book.title" value="{{book.title}}" class="form-control" id="title" placeholder="Book Title">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Author :</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="book.author" value="{{book.author}}" class="form-control" id="author" placeholder="Book Author">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Price :</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="book.price" value="{{book.price}}" class="form-control" id="price" placeholder="Book Price">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Available On :</label>

                <div class="checkbox-inline">
                    <label ng-repeat="cb in book.availableOn" class="col-sm-6">
						<input type="checkbox"  ng-model="available" ng-checked="true" ng-click="chkSelected(cb,available)" >
								{{cb}} 
					</label>
                </div>

            </div>
        </form>
    </div>

    <br/> <br/>
    <div>
        <div class="col-sm-offset-4 col-sm-1">
            <button type="submit" onclick="showbookform()" ng-dblclick="editBook(book)" class="btn btn-success">Edit</button>
        </div>

        <div class="col-sm-offset-1 col-sm-1">
            <button type="submit" ng-click="deleteBook(book)" class="btn btn-danger">Delete</button>
        </div>
    </div>


    <!--
<br/> <br/> <br/>
	Existing Book Details:
	<br/> <br/>
<div id="table_details" class="table_info table-responsive" >
			<table class="table table-hover table-bordered">
			<tr>
				<th>ISBN </th>
				<th>Title </th>
				<th>Author</th>
				<th>Price</th>
				<th>Available On</th>
			</tr>
			
			<tr ng-repeat="employee in myData">
								 
										<td>{{employee.isbn}}</td>
										<td>{{employee.title}}</td>
										<td>{{employee.author}}</td>
										<td>{{employee.price}}</td>
										<td>{{employee.availableOn}}</td>
									
								
			</tr>
			
			</table>
	
	</div>
	
	</div>
-->