@media only screen and (min-width: 420px) and (max-width: 720px) {
ul#myNav{
   display:none;
}

button#menu{
  color:#fff;
  font-weight:600;
  display:block;
  border: 1px solid #222;
  border-radius: 1.5em;
  background-color: rgba(0,0,0,0.6);
  max-width:10%;
    position:relative;
    left:45%;
    top:2.7em;
}

.listings ul.properties_list li{
    display: block;
    width:530px;
    height: auto;
    position: relative;
    float: left;
    margin: 0 40px 40px 0;
}
    .listings ul.properties_list li img.property_img{
    width: 530px;
    height: auto!important;
    vertical-align: top;
}
    .listings ul li .property_details{
    width: 530px;
    box-sizing: border-box;
    padding: 10px 20px 14px 20px;
    border-bottom: 1px solid #f2f1f1;
    border-left: 1px solid #f2f1f1;
    border-right: 1px solid #f2f1f1;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
    
}